<div class="row mt-2">
    <div class="col-1"> 
        <img style="width:90%" [src]="proyecto.responsable.foto()" class="rounded-circle">
    </div>
    <div class="col-7">
        <h3>{{proyecto.nombre}}</h3>
    </div>
    <div class="col-2">
        <button class="btn btn-primary" (click)="verMiembros = !verMiembros">{{verMiembros?"Ocultar":"Ver"}} miembros</button>
    </div>
    <div class="col-2">
        <button class="btn btn-primary" (click) = "quitarProyecto()">Quitar Proyecto</button>
    </div>
</div>
<div *ngIf="verMiembros" class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <app-miembro-proyecto *ngFor="let e of proyecto.empleados"
            [empleado]="e" (empleadoDesasignado)="quitarEmpleado($event)"></app-miembro-proyecto>
    </div>

</div>
