<div class="card text-center" style="width: 18rem;">
    
    <!--<img *ngIf="empleado.sexo == 'V'" src="https://randomuser.me/api/portraits/men/{{empleado.id}}.jpg" class="card-img-top mt-2">
    <img *ngIf="empleado.sexo != 'V'" src="https://randomuser.me/api/portraits/women/{{empleado.id}}.jpg" class="card-img-top mt-2">
    -->
    <ng-container *ngIf="empleado.sexo == 'V'; else mujerTemplate">
            <img src="https://randomuser.me/api/portraits/men/{{empleado.id}}.jpg" class="card-img-top mt-2">
    </ng-container>
    <ng-template #mujerTemplate>
            <img src="https://randomuser.me/api/portraits/women/{{empleado.id}}.jpg" class="card-img-top mt-2">
    </ng-template>
    <div class="card-body">
        <h5 class="card-title">{{empleado.nombreCompleto()}}</h5>
        <p [hidden]="ocultar" class="card-text">Departamento de {{empleado.departamento}}</p>
        <a href="#" class="btn btn-primary" (click)="cambiarVisibilidad()">{{ocultar?"Ver Detalles":"Ocultar Detalles"}}</a>
    </div>
</div>